* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.wrapper {
    /*display: flex;*/
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.nav-nav {
    display: flex;
    justify-content: center;
    background-color: #232323;
}

nav {
    padding: 15px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

li a {
    padding: 40px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

li a:hover {
    color: #FFC326;
}

.info-nav {
    color: #FFC326;
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 25px;
}

.text-normal {
    font-weight: normal;
    font-size: 16px;
    color: white;
    letter-spacing: 2px;
    font-style: italic;
}

.image-logo {
    padding: 5px;
}


/*section - 01*/

.transportni-uslugi {
    background-image: linear-gradient(to bottom, rgba(27, 29, 35, 0.9), rgba(35, 33, 28, 0.53)), url('image-6.2.jpg');
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.header-uslugi {
    color: #F4BB26;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 146px;
    text-align: center;
}

.h1 {
    color: #FFC326;
    font-size: 35px;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.text-transportni-uslugi {
    padding: 10px;
    font-size: 16px;
    color: rgba(180, 180, 180, 0.96);
}

.info {
    padding: 40px;
    display: flex;
    justify-content: space-around;
}

.info-pristigane-1 {
    color: white;
    background-color: transparent;
    border: 2px solid #F4BB26;
    padding: 30px;
    box-shadow: 0px 0px 9px 0px rgba(255, 200, 40, 0.98);
}

.info-pristigane-1:hover {
    background-color: #F4BB26;
    border-radius: 12px;
    transition: 3s;
}

a:hover {
    color: white;
}

a.telefon1:hover {
    color: #F4BB26;
}

.telefon {
    color: #F4BB26;
    background-color: white;
    padding: 30px;
    font-size: 18px;
    box-shadow: 0px 0px 9px 0px rgba(255, 200, 40, 0.98);
}

.telefon1 {
    color: black;
}

.telefon:hover {
    /*border: 3px solid #F4BB26;*/
    border-radius: 12px;
    transition: 3s;
}

.info-24\/7 {
    color: white;
    padding: 30px;
    background-color: transparent;
    border: 2px solid #F4BB26;
    box-shadow: 0px 0px 9px 0px rgba(255, 200, 40, 0.98);
    ;
}

.info-24\/7:hover {
    background-color: #F4BB26;
    border-radius: 12px;
    transition: 3s;
}

.bottom-transportni-uslugi {
    background-color: #232323;
}

a {
    text-decoration: none;
    color: white;
}


/*Truck*/

.truck-info {
    display: flex;
    justify-content: center;
    padding: 70px;
}

.z-index {
    position: absolute;
    color: #f1ebeb;
    font-size: 120px;
    margin-top: -80px;
    z-index: -1;
}

.z-index-2 {
    position: absolute;
    color: #f1ebeb;
    font-size: 120px;
    z-index: -1;
    margin-top: -100px;
}

h2 {
    font-weight: 300;
    font-size: 25px;
}

.truck-span {
    font-weight: bold;
    font-size: 28px;
    color: #F4BB26;
}

.truck-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.truck-text-1 {
    text-align: justify;
    padding: 15px;
}

.table-truck {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 13px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #F0F0F0;
}

tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

i {
    color: #F4BB26;
}


/*our-services*/

.our-services-name {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 35px 0 0 0;
}

.our-services-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 70px;
}

.box {
    display: block;
    text-align: center;
    flex: 0 0 32%;
}

.box:hover {
    background-color: rgba(192, 186, 186, 0.09);
    border: 2px solid #F4BB26;
    cursor: pointer;
    color: rgba(202, 149, 31, 0.82);
    transition: 1s;
}

h3 {
    font-weight: 300;
    font-size: 35px;
}

.span-services {
    font-weight: bold;
    color: #F4BB26;
}

.box-image {
    display: flex;
    margin: 0 auto;
    padding: 17px;
}

h5 {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.box-text {
    text-align: center;
}


/*Gallery*/

.gallery-image {
    display: flex;
    justify-content: center;
    padding: 120px;
    flex-wrap: wrap;
}

.text {
    background-color: #F4BB26;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.box-gallery:hover .middle {
    opacity: 1;
}

.box-gallery:hover .image-gallery {
    opacity: 0.3;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-gallery {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.box-gallery {
    position: relative;
    margin: 15px;
    width: 30.5%;
    padding: 10px 10px;
}

.box-gallery {
    background-image: repeating-linear-gradient( 45deg, #FFC325, #FFC325 10px, #232323 10px, #232323 20px/* determines size */
    );
}

.image-gallery {
    /*width: 302px;*/
    height: 230px;
}


/*footer*/

.image-footer {
    width: 450px;
    margin-top: -200px;
}

.footer {
    background-color: #232323;
}

.footer-1 {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.image-logo-footer {
    padding: 10px;
    justify-content: center;
    display: flex;
}

.text-logo-footer {
    display: flex;
    flex-direction: column;
}

.text-truck-footer {
    color: #F4BB26;
    font-size: 20px;
    font-weight: bold;
}

.text-footer {
    font-style: italic;
    color: #B4B4B4;
    font-size: 17px;
}

h5 {
    color: #F4BB26;
    font-size: 20px;
    text-align: center;
}

#A7 {
    color: #F4BB26;
}

.links a {
    text-decoration: none;
    color: #B4B4B4;
    font-size: 16px;
}

.links {
    color: #B4B4B4;
}

a:hover {
    text-decoration: none;
}

i {
    padding: 7px;
}

.footer-copyright {
    background-color: #181818;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.text-copyright {
    color: #B4B4B4;
    font-size: 14px;
}

.image-footer {
    position: relative;
    animation: image-footer 10s linear infinite;
    transform: translateX(-100px);
}

.image-truck-footer {
    background-color: #F4BB26;
}

@keyframes image-footer {
    0% {
        background-color: transparent;
        left: 0px;
        top: 0px;
    }
    50% {
        background-color: transparent;
        left: 1000px;
        top: 0px;
    }
}

.links a:hover {
    color: #F4BB26;
    cursor: pointer;
}

.money {
    font-size: 30px;
    text-align: center;
    color: #FFC325;
}


/*RANGE-NUMBER*/

.range-number {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(11, 9, 7, 0.81)), url('image-7.1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300%;
    padding: 30px;
}

.text-center {
    display: flex;
    justify-content: space-around;
}

.icon-box {
    font-size: 60px;
}

.counter {
    color: white;
    font-size: 60px;
}

.counter-text {
    color: white;
    font-size: 25px;
}


/*drugiii*/

p a {
    color: white;
    text-decoration: none;
}

p a:hover {
    color: white;
    text-decoration: none;
    text-underline: none;
}

li a:hover {
    text-decoration: none;
    text-underline: none;
}

.col-2 {
    color: #F4BB26;
    font-size: 16px;
}


/* RESPONSIVE */


/*Responsive-menu*/

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.info-nav-1 {
    display: none;
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
        margin-right: 40px;
    }
    ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #232323;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: #F4BB26;
        text-decoration: none;
        text-underline: none;
    }
    #check:checked~ul {
        left: 0;
    }
    .transportni-uslugi {
        display: none;
    }
    .info-nav {
        display: none;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    nav {
        display: flex;
    }
    .info-nav-1 {
        display: block;
        display: flex;
        float: left;
        margin-left: 10px;
    }
    .nav-nav {
        display: flex;
        justify-content: space-around;
    }
    .image-logo {
        display: flex;
    }
    .truck-info {
        display: block;
        padding: 0px;
    }
    .truck-text-1 {
        padding: 10px;
    }
    .image-truck-info {
        width: 100%;
    }
    .z-index {
        margin-top: -220px;
    }
    .text-center {
        display: block;
    }
    .z-index-2 {
        margin-top: -82px;
    }
    .our-services-1 {
        display: block;
        padding: 10px;
    }
    .our-services-name {
        margin: 50px 0 50px;
        padding: 0;
    }
    .row {
        display: flex;
        flex-wrap: nowrap;
    }
    .gallery-image {
        padding: 0;
        justify-content: space-around;
        display: flex;
    }
    .box-gallery {
        width: 360px;
        padding: 7px 7px;
    }
    .image-gallery {
        width: 340px;
        height: 240px;
        margin: 0 auto;
    }
    .footer-1 {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .footer-section-1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
    .footer-section-2 {
        display: none;
    }
    .footer-section-3 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
    #A5 {
        text-align: center;
    }
    .image-logo-footer {
        width: 40%;
        margin: 0 auto;
    }
    .image-footer {
        width: 60%;
        margin-top: -115px;
    }
    .footer-copyright {
        padding: 15px;
        text-align: center;
    }
    @keyframes image-footer {
        0% {
            background-color: transparent;
            left: 0px;
            top: 0px;
        }
        25% {
            background-color: transparent;
            left: 130%;
            top: 0px;
        }
    }
}

@media (max-width: 952px) {
    nav ul li a {
        font-size: 16px;
    }
}